django==2.2.28
django-jet2==1.0.12
celery==5.2.7
redis==4.5.1
django-celery-beat==2.4.0
requests==2.28.2
psycopg2-binary==2.9.5
git+https://github.com/abozaralizadeh/django-azure-ad-auth.git#egg=django-azure-ad-auth
